<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


    <h2> Candidates for  Student Council Elections 2020 -2021</h2>
           
    <table class="table table-striped">
      <thead>
        <tr>
         
          <th>Name</th>
          <th>Email</th>
          <th>Party</th>      
          <th>Position</th> 
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let candidate of candidates">
        <tr>
        
          <td>{{ candidate.name }}</td>
          <td>{{candidate.email}}</td>
          <td>{{ candidate.party}}</td>
          <td>{{ candidate.position}}</td>
 
          
          <td>
            <button (click)="updateCandidate(candidate.name)" type="button" class="btn btn-primary">Update</button>&nbsp;&nbsp;
            <button type="button" (click)="viewCandidate(candidate.name)" class="btn btn-info">View</button>&nbsp;&nbsp;
            <!-- <popup>Are you sure you want to DELETE ?</popup> -->
            <button (click)="delete(candidate.candidate_id)" type="button" class="btn btn-danger">Delete</button>
          </td>
       
        </tr>
        

      </tbody>
    </table>
    <button  type="button" class="btn btn-primary" (click)="back()">Back</button>&nbsp;&nbsp;
    
 <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>



</body>
</html>