cl{
	background-color:rgb(4, 4, 27);
}
.hm:hover{
	  background-color:rgb(194, 107, 194);
}
.dd{
    background-color:rgb(4, 4, 27);
}
.text{
	color:rgb(17, 1, 1);
}
.text:hover{
  color:rgb(195, 83, 195);
}