<div class="container">
    <div class="row">
        <div class="col">
            <h1>Cultural Activites</h1>
            <p>The importance of social and cultural activities is preparing 
                students for real life and strengthening
                 their personal skills. Social/cultural activities not 
                 only help students to identify
                  themselves with the university, but also assist students 
                  to develop themselves in a desired
                   field and also improve skills such as 
                   organizational, presentation, leadership and
                    interpersonal communication.</p>
    
        </div>
        
        <div class="col">
            <div class="card card1">
                <h2>Blood Donation</h2>
                
            </div>
            <div class="card card2">
                <h2>Traditional Dance Competition</h2>
               
            </div>
          
        <div class="card card3">
            <h2>Tree Plantation</h2>
            
        </div>
        </div>
</div>





</div>
