<div class="home"></div>


<p>During the COVID-19 crisis, our admissions staff is fully available and reachable by phone and email,<br>
  although our building is closed and we are not conducting tours. Our Call Center representatives are<br>
  available for phone calls at 734-764-7433 from 8 a.m.-5 p.m. EDT. <br>

.</p>



     <h2>Contact Details </h2>
     <p>Phone:734-764-7433<br>
      E-mail: stxavierspublicforum@stxaviers.com</p>
      <h2>Address</h2>
      <p>515 EAST JEFFERSON STREET<br>
        1220 STUDENT ACTIVITIES BUILDING<br>
        ANN ARBOR, MI 48109-1316 US</p>





