
<div class="tes">
  <div class="wrapper">
    <!-- <div">
      <h2>Welcome {{ admin.name }} </h2>
    </div> -->


    <h2><p style="color:white">Administrator Area </p></h2>
    <h3><p style="color:red" *ngIf="msg" class="error">Invalid username or password</p></h3>
    <form #loginform="ngForm">
       <h3> <p style="color:red" class="txt-danger">{{msg}}</p></h3>
       <h3> <p  style="color:red" class="er">{{error}}</p>
        <p *ngIf="toggle" class="er">{{error}}</p></h3>


     <div class="form-group">
          <input type="text" name="email" [(ngModel)]="admin.email" class="form-control" placeholder="Username" required="required" #email="ngModel"
          [class.is-invalid]="email.isinvalid && email.touched"
          >
      </div>
      
      <small class="txt-danger" [class.d-none]="email.valid || email.untouched" style="color:white">Email is Required Field</small>
      <div class="form-group">
          <input type="password" name="password" [(ngModel)]="admin.password" class="form-control" placeholder="Password" required="required" #password="ngModel"
          [class.is-invalid]="password.isinvalid && password.touched"
          >
      </div>
      <small class="txt-danger" [class.d-none]="password.valid || password.untouched" style="color:white">Password is Required Field</small>
      <div class="form-group">
        <button (click)="adminLogin()" class="btn btn-primary btn-block">Log In</button>
      </div>

  </form>

</div>

